<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <h1>메인페이지</h1>
   
        <div>
            <p type="text" value="" th:value="${userVo.userId}" >userId</p>
            <p type="text" value="" th:value="${userVo.userId}" >님 환영합니다~</p>
        </div>
        
        <button type="button" class="btn btn-primary" onClick="logout()">로그아웃</button>
    <br/>
</div>
</body>
</html>